:root {
  --secund: 0;
  --minut: 0;
  --hour: 0;
  --month: 0;
  --weekday: 0;
  --visiblogo: none;
  --lightplanet: none;
  --rocket: none;
  --flame: none;
  --sun: none;
  --dial: #0d0d0d;
  --dial-2: #1f1f1f;
  --number-main: cyan;
  --number-2: steelblue;
  --dial-2-scale: steelblue;
  --scale_ex: royalblue;
  --grad: none;
  --second_hand: none;
  --second_hand_fill: dodgerblue;
  --minute_hand: royalblue;
  --minute_hand_fill: #0d0d0d;
  --hour_hand: royalblue;
  --hour_hand_fill: #0d0d0d;
  --dial-biplan: #1a1a1a;
  --dial-2-biplan-fill: #030303;
  --dial-2-biplan-stroke: #808080;
  --seconds-marker: #efefef;
  --marker-main-biplan: #ff6600;
  --marker-main-fill: #fcecdf;
  --marker-main-stroke: #999999;
  --color-second-biplan-stroke: red;
  --color-hour-biplan-stroke: #7e7e7e;
}
/* Theme BIPLAN */
.dial-biplan {
  fill: var(--dial-biplan);
}
.dial-2-biplan {
  fill: var(--dial-2-biplan-fill);
  stroke: var(--dial-2-biplan-stroke);
  stroke-width: 1px;
}
.seconds {
  stroke: var(--seconds-marker);
  stroke-width: 1px;
}
.marker-main-biplan {
  fill: var(--marker-main-biplan);
  stroke: var(--marker-main-stroke);
  stroke-width: 0.5px;
}
.marker-main {
  fill: var(--marker-main-fill);
  stroke: var(--marker-main-stroke);
  stroke-width: 0.5px;
}
.control-mark {
  fill: red;
}
.control-point {
  fill: var(--seconds-marker);
}

.day {
  stroke: #999999;
}
.month {
  transform: rotate(var(--month));
  transform-origin: 33.5% 50%;
  fill: var(--marker-main-fill);
  stroke: var(--color-hour-biplan-stroke);
}
.weekly {
  transform: rotate(var(--weekday));
  transform-origin: 66.6% 50%;
  fill: var(--marker-main-fill);
  stroke: var(--color-hour-biplan-stroke);
}
.daynumber {
  font-size: 15pt;
  font-family: sans-serif;
  color: black
}
.number-biplan {
  fill: #ccc;
}
.color-second-biplan {
  transform: rotate(var(--secund));
  transform-origin: 50% 50%;
  fill: var(--marker-main-fill);
  stroke: var(--color-second-biplan-stroke);
}

.color-minute-biplan {
  transform: rotate(var(--minut));
  transform-origin: 50% 50%;
  fill: var(--marker-main-fill);
  stroke: var(--color-hour-biplan-stroke);
}

.color-hour-biplan {
  transform: rotate(var(--hour));
  transform-origin: 50% 50%;
  fill: var(--marker-main-fill);
  stroke: var(--color-hour-biplan-stroke);
}
.trademark {
  fill: var(--trademark_biplan);
  stroke: var(--trademark_biplan);
}
.trademark-ground {
  fill: var(--trademark_biplan);
  stroke: var(--trademark_biplan);
}
.rack {
  stroke: var(--rack);
}
.stretching {
  stroke: var(--rack);
}
/* Theme GAGARIN */
.grad {
  display: var(--grad);
}
.dial {
  fill: var(--dial);
}
.dial-2 {
  fill: var(--dial-2);
}
.number-main {
  fill: var(--number-main);
}
.number-2 {
  fill: var(--number-2);
}
.dial-2-scale {
  stroke: var(--dial-2-scale);
  fill: var(--dial-2-scale);
}
.scale_ex {
  stroke: var(--scale_ex);
}

.footer {
  background-color: #f5f5f5;
}
.cover {
  stroke: var(--second_hand_fill)
}

.second_hand {
  transform: rotate(var(--secund));
  transform-origin: 50% 50%;
  fill: var(--second_hand_fill);
  stroke: var(--second_hand);
}

.minute_hand {
  transform: rotate(var(--minut));
  transform-origin: 50% 50%;
  fill: var(--minute_hand_fill);
  stroke: var(--minute_hand);
}

.hour_hand {
  transform: rotate(var(--hour));
  transform-origin: 50% 50%;
  fill: var(--hour_hand_fill);
  stroke: var(--hour_hand);
}

.container {
  max-width: 960px;
}
.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
/* ANIMATION */
@keyframes visiblogo {
  from {opacity: 1;}
  12% {opacity: 0;}
  88% {opacity: 0;}
  to {opacity: 1;}
}
@keyframes flame {
  from {opacity: 0.2;}
  25% {opacity: 0.3;}
  50% {opacity: 1;}
  75% {opacity: 0.3;}
  to {opacity: 0.2;}
}
@keyframes lightplanet {
  from {opacity: 0;}
  70% {opacity: 0.5;}
  90% {opacity: 1;}
  to {opacity: 0;}
}
@keyframes sun {
  from {opacity: 0;}
  65% {opacity: 0;}  
  90% {opacity: 1;}
  to {opacity: 0;}
}
@keyframes rocket {
  from {opacity: 0;}
  15% {opacity: 1;}
  90% {opacity: 1;}
  to {opacity: 0;}
}
.logo {
  opacity: 1;
  animation: var(--visiblogo) 8s 1 linear;
}
.flame-orange {
  opacity: 0;
  animation: var(--flame) 1s 8 linear;
}
.lightplanet {
  opacity: 0;
  animation: var(--lightplanet) 8s 1 ease-in-out;
}
.sun {
  opacity: 0;
  animation: var(--sun) 8s 1 ease-in-out;
}
.rocket {
  opacity: 0;
  animation: var(--rocket) 8s 1 linear;
}
.orbit {
  opacity: 0;
  animation: var(--rocket) 8s 1 linear;
}
/* ------------------------- */
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
